To create a distributable tarball from a working source directory, do
  make dist
  
To create a distributable tarball from a clean check-out of the MOAB
source, do:
  SETUP="aclocal; libtoolize; automake -a; autoconf"
  cd MAOB
  $SETUP
  (cd tools/qvdual && ($SETUP))
  (cd tools/mbchaco && ($SETUP))
  ./configure --without-netcdf --without-hdf5
  make dist

