Source: moab
Priority: extra
Maintainer: Jason Kraftcheck <kraftche@cae.wisc.edu>
Build-Depends: debhelper (>= 9),
  cmake (>= 2.8.12),
  g++ (>= 4.0.0),
  libopenmpi-dev,
  doxygen,
  libhdf5-dev,
  libnetcdf-dev
Standards-Version: 3.8.4
Section: libs
Homepage: http://sigma.mcs.anl.gov/moab-library/

Package: libmoab-dev
Section: libdevel
Architecture: any
Depends: libmoab0 (= ${binary:Version}), ${misc:Depends}
Description: Mesh-Oriented datABase development files
  MOAB is a component for representing and evaluating mesh data. 
  MOAB can store structured and unstructured mesh, consisting of 
  elements in the finite element "zoo". The functional 
  interface to MOAB is simple yet powerful, allowing the 
  representation of many types of metadata commonly found on the 
  mesh. MOAB is optimized for efficiency in space and time, based 
  on access to mesh in chunks rather than through individual
  entities, while also versatile enough to support individual 
  entity access.

#Package: libmoab-itaps-dev
#Section: libdevel
#Architecture: any
#Depends: libmoab-itaps0 (= ${binary:Version})
#Description: Mesh-Oriented datABase iMesh API development files
#  MOAB is a component for representing and evaluating mesh data. 
#  MOAB can store structured and unstructured mesh, consisting of 
#  elements in the finite element "zoo". The functional 
#  interface to MOAB is simple yet powerful, allowing the 
#  representation of many types of metadata commonly found on the 
#  mesh. MOAB is optimized for efficiency in space and time, based 
#  on access to mesh in chunks rather than through individual
#  entities, while also versatile enough to support individual 
#  entity access.

Package: libmoab0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mesh-Oriented datABase libraries
  MOAB is a component for representing and evaluating mesh data. 
  MOAB can store structured and unstructured mesh, consisting of 
  elements in the finite element "zoo". The functional 
  interface to MOAB is simple yet powerful, allowing the 
  representation of many types of metadata commonly found on the 
  mesh. MOAB is optimized for efficiency in space and time, based 
  on access to mesh in chunks rather than through individual
  entities, while also versatile enough to support individual 
  entity access.

#Package: libmoab-itaps0
#Section: libs
#Architecture: any
#Depends: libmoab0
#Description: Mesh-Oriented datABase iMesh API libraries
#  MOAB is a component for representing and evaluating mesh data. 
#  MOAB can store structured and unstructured mesh, consisting of 
#  elements in the finite element "zoo". The functional 
#  interface to MOAB is simple yet powerful, allowing the 
#  representation of many types of metadata commonly found on the 
#  mesh. MOAB is optimized for efficiency in space and time, based 
#  on access to mesh in chunks rather than through individual
#  entities, while also versatile enough to support individual 
#  entity access.

Package: moab-bin
Section: libs
Architecture: any
Depends: libmoab0, ${misc:Depends}
Description: Mesh-Oriented datABase utilities
  MOAB is a component for representing and evaluating mesh data. 
  MOAB can store structured and unstructured mesh, consisting of 
  elements in the finite element "zoo". The functional 
  interface to MOAB is simple yet powerful, allowing the 
  representation of many types of metadata commonly found on the 
  mesh. MOAB is optimized for efficiency in space and time, based 
  on access to mesh in chunks rather than through individual
  entities, while also versatile enough to support individual 
  entity access.
